<html>

<head>
	<title>Jieba Demo</title>
	<meta charset="UTF-8" />
</head>

<body style="height: 100%">
  <a-layout id="app">
    <a-layout-content>
      <a-page-header title="Jieba Demo" />
      <a-card>
        <div>
          <a-radio-group v-model="type" style="margin-bottom: 16px" @change="onChange">
            <a-radio-button value="cut">
              cut
            </a-radio-button>
            <a-radio-button value="cutAll">
              cutAll
            </a-radio-button>
            <a-radio-button value="cutForSearch">
              cutForSearch
            </a-radio-button>
            <a-radio-button value="cutForSearchWithOffset">
              cutForSearchWithOffset
            </a-radio-button>
            <a-radio-button value="lookupTag">
              lookupTag
            </a-radio-button>
            <a-radio-button value="tag">
              tag
            </a-radio-button>
            <a-radio-button value="extract">
              extract
            </a-radio-button>
          </a-radio-group>
          <a-checkbox v-model="useHMM"
            v-if="~['cut','cutForSearch','cutForSearchWithOffset'].indexOf(type)"
            @change="onChange">useHMM</a-checkbox>
          <template v-if="type==='extract'">
            <a-input-number v-model="topk" :min="1" @change="onChange" />
            topk
          </template>
        </div>
        <a-card-grid style="width:50%;text-align:center">
          <a-textarea v-model="text" :rows="20" @change="onChange" />
        </a-card-grid>
        <a-card-grid style="width:50%;text-align:center">
          {{JSON.stringify(items)}}
        </a-card-grid>
      </a-card>
    </a-layout-content>
  </a-layout>
  <script src="./src/index.js"></script>
</body>
</html>